attrs==19.3.0
attrs==21.4.0
attrs==22.1.0
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==3.4.7
cryptography==41.0.3
cryptography==42.0.5
Cython==3.0.11
Django==5.1.1
Django==5.1.4
dl==0.1.0
docutils==0.18.1
docutils==0.18.1
HTMLParser==0.0.2
ipython==8.15.0
ipython==8.25.0
ipython==8.27.0
ipython==8.12.3
ipywidgets==8.0.4
ipywidgets==8.1.2
Jinja2==3.1.2
jnius==1.1.0
joblib==1.1.1
joblib==1.2.0
joblib==1.4.2
keyring==23.13.1
keyring==24.3.1
lockfile==0.12.2
mock==5.1.0
numpy==1.19.2
numpy==1.24.3
Pillow==9.4.0
Pillow==11.1.0
protobuf==3.17.2
pyOpenSSL==21.0.0
pyOpenSSL==23.2.0
pyOpenSSL==24.0.0
pyOpenSSL==25.0.0
pywin32==305.1
pywin32==308
railroad==0.5.0
Sphinx==5.0.2
thread==2.0.5
tornado==6.1
tornado==6.3.2
tornado==6.4.1
tornado==6.4.2
trove_classifiers==2025.1.15.22
truststore==0.10.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
